{% schema %}
{
  "name": "Animated Feature Bar",
  "settings": [],
  "blocks": [],
  "presets": [
    {
      "name": "Animated Feature Bar"
    }
  ]
}
{% endschema %}

<div class="feature-bar">
  <ul class="feature-bar__list">
    <li class="feature-bar__item">
      <figure class="feature-bar__icon">
        <svg height="20" width="20" stroke-width="1" viewBox="0 0 16 16">
          <path d="M8 1c.21 0 .4.13.47.33l1.62 4.54 4.92.1a.5.5 0 01.29.9l-3.92 2.9 1.42 4.58a.5.5 0 01-.75.56L8 12.17 3.95 14.9a.5.5 0 01-.75-.56l1.42-4.58L.7 6.87a.5.5 0 01.29-.9l4.92-.1 1.62-4.54A.5.5 0 018 1zm0 2L6.74 6.52a.5.5 0 01-.46.33l-3.8.08L5.5 9.17a.5.5 0 01.18.55l-1.1 3.56 3.14-2.13a.5.5 0 01.56 0l3.15 2.13-1.1-3.56a.5.5 0 01.17-.55l3.02-2.23-3.8-.08a.5.5 0 01-.46-.33L8 2.99z"></path>
        </svg>
      </figure>
      <p class="feature-bar__text">CLINICALLY BACKED FORMULAS</p>
    </li>

    <li class="feature-bar__item">
      <figure class="feature-bar__icon">
        <svg
          height="20"
          width="20"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 50 50"
          width="50px"
          height="50px"
          fill="currentColor"
        >
          <path d="M 25 0 C 22.546875 0 20.476563 1.355469 17.40625 2.9375 C 14.335938 4.519531 10.214844 6.429688 3.78125 7.84375 L 3 8.03125 L 3 8.8125 C 3 24.132813 8.371094 34.371094 13.75 40.71875 C 19.128906 47.066406 24.59375 49.59375 24.59375 49.59375 L 25.03125 49.8125 L 25.46875 49.59375 C 25.46875 49.59375 47 38.46875 47 8.8125 L 47 8.03125 L 46.21875 7.84375 C 39.785156 6.429688 35.664063 4.519531 32.59375 2.9375 C 29.523438 1.355469 27.453125 0 25 0 Z M 25 2 C 26.644531 2 28.550781 3.105469 31.6875 4.71875 C 34.667969 6.25 38.859375 8.128906 44.9375 9.5625 C 44.570313 36.679688 26.253906 46.851563 24.96875 47.53125 C 24.347656 47.230469 20.019531 45.066406 15.25 39.4375 C 10.222656 33.503906 5.246094 23.960938 5.0625 9.5625 C 11.140625 8.128906 15.332031 6.25 18.3125 4.71875 C 21.449219 3.105469 23.355469 2 25 2 Z M 32.6875 14.625 L 32.15625 15.46875 L 24.03125 28.09375 L 18.65625 23.25 L 17.9375 22.59375 L 16.59375 24.0625 L 17.34375 24.75 L 23.53125 30.375 L 24.40625 31.15625 L 25.0625 30.15625 L 33.84375 16.53125 L 34.375 15.6875 Z"></path>
        </svg>
      </figure>
      <p class="feature-bar__text">THIRD PARTY TESTED</p>
    </li>

    <li class="feature-bar__item">
      <figure class="feature-bar__icon">
        <svg
          height="20"
          width="20"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 50 50"
          width="50px"
          height="50px"
          fill="currentColor"
        >
          <path d="M 10.96875 3 C 10.746094 3.023438 10.535156 3.125 10.375 3.28125 C 10.375 3.28125 3 10.136719 3 18.4375 C 3 22.863281 4.726563 27.210938 9.125 29.9375 C 9.601563 31.90625 9.945313 33.679688 9.6875 35.25 C 9.597656 35.617188 9.722656 36 10.007813 36.246094 C 10.292969 36.492188 10.695313 36.554688 11.042969 36.410156 C 11.390625 36.265625 11.628906 35.9375 11.65625 35.5625 C 12.199219 32.257813 10.878906 29.109375 10.125 25.625 C 9.371094 22.140625 9.078125 18.34375 11.25 13.5625 C 11.402344 13.25 11.382813 12.882813 11.195313 12.589844 C 11.011719 12.300781 10.691406 12.121094 10.34375 12.125 C 9.945313 12.132813 9.585938 12.378906 9.4375 12.75 C 7.0625 17.972656 7.394531 22.351563 8.1875 26.03125 C 8.253906 26.339844 8.335938 26.609375 8.40625 26.90625 C 5.945313 24.648438 5 21.679688 5 18.4375 C 5 12.105469 9.894531 6.78125 11.03125 5.59375 C 12.03125 6.742188 15.15625 10.453125 15.84375 14.625 C 16.3125 17.46875 15.550781 19.882813 14.5625 21.6875 C 14.070313 22.589844 13.523438 23.335938 13.0625 23.875 C 12.601563 24.414063 12.175781 24.804688 12.125 24.84375 C 11.792969 25.039063 11.601563 25.402344 11.632813 25.785156 C 11.660156 26.171875 11.910156 26.5 12.269531 26.640625 C 12.625 26.777344 13.03125 26.699219 13.3125 26.4375 C 13.625 26.203125 14.054688 25.820313 14.59375 25.1875 C 15.132813 24.554688 15.742188 23.699219 16.3125 22.65625 C 17.453125 20.570313 18.367188 17.683594 17.8125 14.3125 C 16.851563 8.476563 11.78125 3.3125 11.78125 3.3125 C 11.574219 3.089844 11.273438 2.976563 10.96875 3 Z M 28.90625 20.0625 C 28.21875 20.0625 27.523438 20.109375 26.8125 20.1875 C 19.246094 21.007813 15.714844 25.230469 14.34375 29.15625 C 12.972656 33.082031 13.5625 36.78125 13.5625 36.78125 C 13.5625 36.792969 13.5625 36.800781 13.5625 36.8125 C 10.496094 40.019531 9.125 42.84375 9.125 42.84375 C 8.914063 43.167969 8.90625 43.585938 9.105469 43.914063 C 9.308594 44.246094 9.683594 44.429688 10.070313 44.386719 C 10.453125 44.34375 10.78125 44.085938 10.90625 43.71875 C 10.90625 43.71875 14.460938 36.398438 23.125 32.3125 C 29.035156 29.523438 36.6875 30.375 36.6875 30.375 C 37.0625 30.472656 37.460938 30.34375 37.707031 30.042969 C 37.953125 29.746094 38.007813 29.332031 37.839844 28.980469 C 37.675781 28.628906 37.324219 28.40625 36.9375 28.40625 C 36.9375 28.40625 34.921875 28.148438 32.09375 28.28125 C 29.265625 28.414063 25.601563 28.933594 22.28125 30.5 C 19.539063 31.792969 17.273438 33.382813 15.4375 35 C 15.410156 33.734375 15.507813 31.84375 16.21875 29.8125 C 17.40625 26.417969 20.101563 22.941406 27.03125 22.1875 C 36.238281 21.1875 43.359375 27.707031 44.71875 29.03125 C 43.746094 30.746094 38.257813 39.722656 28.0625 40.84375 C 22.367188 41.46875 17.375 38.8125 17.375 38.8125 C 17.058594 38.589844 16.644531 38.570313 16.304688 38.757813 C 15.96875 38.949219 15.773438 39.316406 15.800781 39.703125 C 15.828125 40.089844 16.078125 40.421875 16.4375 40.5625 C 16.4375 40.5625 21.859375 43.519531 28.28125 42.8125 C 40.730469 41.441406 46.875 29.28125 46.875 29.28125 C 47.0625 28.910156 47 28.460938 46.71875 28.15625 C 46.71875 28.15625 39.214844 20.058594 28.90625 20.0625 Z"></path>
        </svg>
      </figure>
      <p class="feature-bar__text">CLEAN INGREDIENT</p>
    </li>
    <li class="feature-bar__item">
      <figure class="feature-bar__icon">
        <svg height="20" width="20" stroke-width="1" viewBox="0 0 16 16">
          <path d="M8 1c.21 0 .4.13.47.33l1.62 4.54 4.92.1a.5.5 0 01.29.9l-3.92 2.9 1.42 4.58a.5.5 0 01-.75.56L8 12.17 3.95 14.9a.5.5 0 01-.75-.56l1.42-4.58L.7 6.87a.5.5 0 01.29-.9l4.92-.1 1.62-4.54A.5.5 0 018 1zm0 2L6.74 6.52a.5.5 0 01-.46.33l-3.8.08L5.5 9.17a.5.5 0 01.18.55l-1.1 3.56 3.14-2.13a.5.5 0 01.56 0l3.15 2.13-1.1-3.56a.5.5 0 01.17-.55l3.02-2.23-3.8-.08a.5.5 0 01-.46-.33L8 2.99z"></path>
        </svg>
      </figure>
      <p class="feature-bar__text">CLINICALLY BACKED FORMULAS</p>
    </li>

    <li class="feature-bar__item">
      <figure class="feature-bar__icon">
        <svg
          height="20"
          width="20"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 50 50"
          width="50px"
          height="50px"
          fill="currentColor"
        >
          <path d="M 25 0 C 22.546875 0 20.476563 1.355469 17.40625 2.9375 C 14.335938 4.519531 10.214844 6.429688 3.78125 7.84375 L 3 8.03125 L 3 8.8125 C 3 24.132813 8.371094 34.371094 13.75 40.71875 C 19.128906 47.066406 24.59375 49.59375 24.59375 49.59375 L 25.03125 49.8125 L 25.46875 49.59375 C 25.46875 49.59375 47 38.46875 47 8.8125 L 47 8.03125 L 46.21875 7.84375 C 39.785156 6.429688 35.664063 4.519531 32.59375 2.9375 C 29.523438 1.355469 27.453125 0 25 0 Z M 25 2 C 26.644531 2 28.550781 3.105469 31.6875 4.71875 C 34.667969 6.25 38.859375 8.128906 44.9375 9.5625 C 44.570313 36.679688 26.253906 46.851563 24.96875 47.53125 C 24.347656 47.230469 20.019531 45.066406 15.25 39.4375 C 10.222656 33.503906 5.246094 23.960938 5.0625 9.5625 C 11.140625 8.128906 15.332031 6.25 18.3125 4.71875 C 21.449219 3.105469 23.355469 2 25 2 Z M 32.6875 14.625 L 32.15625 15.46875 L 24.03125 28.09375 L 18.65625 23.25 L 17.9375 22.59375 L 16.59375 24.0625 L 17.34375 24.75 L 23.53125 30.375 L 24.40625 31.15625 L 25.0625 30.15625 L 33.84375 16.53125 L 34.375 15.6875 Z"></path>
        </svg>
      </figure>
      <p class="feature-bar__text">THIRD PARTY TESTED</p>
    </li>

    <li class="feature-bar__item">
      <figure class="feature-bar__icon">
        <svg
          height="20"
          width="20"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 50 50"
          width="50px"
          height="50px"
          fill="currentColor"
        >
          <path d="M 10.96875 3 C 10.746094 3.023438 10.535156 3.125 10.375 3.28125 C 10.375 3.28125 3 10.136719 3 18.4375 C 3 22.863281 4.726563 27.210938 9.125 29.9375 C 9.601563 31.90625 9.945313 33.679688 9.6875 35.25 C 9.597656 35.617188 9.722656 36 10.007813 36.246094 C 10.292969 36.492188 10.695313 36.554688 11.042969 36.410156 C 11.390625 36.265625 11.628906 35.9375 11.65625 35.5625 C 12.199219 32.257813 10.878906 29.109375 10.125 25.625 C 9.371094 22.140625 9.078125 18.34375 11.25 13.5625 C 11.402344 13.25 11.382813 12.882813 11.195313 12.589844 C 11.011719 12.300781 10.691406 12.121094 10.34375 12.125 C 9.945313 12.132813 9.585938 12.378906 9.4375 12.75 C 7.0625 17.972656 7.394531 22.351563 8.1875 26.03125 C 8.253906 26.339844 8.335938 26.609375 8.40625 26.90625 C 5.945313 24.648438 5 21.679688 5 18.4375 C 5 12.105469 9.894531 6.78125 11.03125 5.59375 C 12.03125 6.742188 15.15625 10.453125 15.84375 14.625 C 16.3125 17.46875 15.550781 19.882813 14.5625 21.6875 C 14.070313 22.589844 13.523438 23.335938 13.0625 23.875 C 12.601563 24.414063 12.175781 24.804688 12.125 24.84375 C 11.792969 25.039063 11.601563 25.402344 11.632813 25.785156 C 11.660156 26.171875 11.910156 26.5 12.269531 26.640625 C 12.625 26.777344 13.03125 26.699219 13.3125 26.4375 C 13.625 26.203125 14.054688 25.820313 14.59375 25.1875 C 15.132813 24.554688 15.742188 23.699219 16.3125 22.65625 C 17.453125 20.570313 18.367188 17.683594 17.8125 14.3125 C 16.851563 8.476563 11.78125 3.3125 11.78125 3.3125 C 11.574219 3.089844 11.273438 2.976563 10.96875 3 Z M 28.90625 20.0625 C 28.21875 20.0625 27.523438 20.109375 26.8125 20.1875 C 19.246094 21.007813 15.714844 25.230469 14.34375 29.15625 C 12.972656 33.082031 13.5625 36.78125 13.5625 36.78125 C 13.5625 36.792969 13.5625 36.800781 13.5625 36.8125 C 10.496094 40.019531 9.125 42.84375 9.125 42.84375 C 8.914063 43.167969 8.90625 43.585938 9.105469 43.914063 C 9.308594 44.246094 9.683594 44.429688 10.070313 44.386719 C 10.453125 44.34375 10.78125 44.085938 10.90625 43.71875 C 10.90625 43.71875 14.460938 36.398438 23.125 32.3125 C 29.035156 29.523438 36.6875 30.375 36.6875 30.375 C 37.0625 30.472656 37.460938 30.34375 37.707031 30.042969 C 37.953125 29.746094 38.007813 29.332031 37.839844 28.980469 C 37.675781 28.628906 37.324219 28.40625 36.9375 28.40625 C 36.9375 28.40625 34.921875 28.148438 32.09375 28.28125 C 29.265625 28.414063 25.601563 28.933594 22.28125 30.5 C 19.539063 31.792969 17.273438 33.382813 15.4375 35 C 15.410156 33.734375 15.507813 31.84375 16.21875 29.8125 C 17.40625 26.417969 20.101563 22.941406 27.03125 22.1875 C 36.238281 21.1875 43.359375 27.707031 44.71875 29.03125 C 43.746094 30.746094 38.257813 39.722656 28.0625 40.84375 C 22.367188 41.46875 17.375 38.8125 17.375 38.8125 C 17.058594 38.589844 16.644531 38.570313 16.304688 38.757813 C 15.96875 38.949219 15.773438 39.316406 15.800781 39.703125 C 15.828125 40.089844 16.078125 40.421875 16.4375 40.5625 C 16.4375 40.5625 21.859375 43.519531 28.28125 42.8125 C 40.730469 41.441406 46.875 29.28125 46.875 29.28125 C 47.0625 28.910156 47 28.460938 46.71875 28.15625 C 46.71875 28.15625 39.214844 20.058594 28.90625 20.0625 Z"></path>
        </svg>
      </figure>
      <p class="feature-bar__text">CLEAN INGREDIENT</p>
    </li>
    <li class="feature-bar__item">
      <figure class="feature-bar__icon">
        <svg height="20" width="20" stroke-width="1" viewBox="0 0 16 16">
          <path d="M8 1c.21 0 .4.13.47.33l1.62 4.54 4.92.1a.5.5 0 01.29.9l-3.92 2.9 1.42 4.58a.5.5 0 01-.75.56L8 12.17 3.95 14.9a.5.5 0 01-.75-.56l1.42-4.58L.7 6.87a.5.5 0 01.29-.9l4.92-.1 1.62-4.54A.5.5 0 018 1zm0 2L6.74 6.52a.5.5 0 01-.46.33l-3.8.08L5.5 9.17a.5.5 0 01.18.55l-1.1 3.56 3.14-2.13a.5.5 0 01.56 0l3.15 2.13-1.1-3.56a.5.5 0 01.17-.55l3.02-2.23-3.8-.08a.5.5 0 01-.46-.33L8 2.99z"></path>
        </svg>
      </figure>
      <p class="feature-bar__text">CLINICALLY BACKED FORMULAS</p>
    </li>

    <li class="feature-bar__item">
      <figure class="feature-bar__icon">
        <svg
          height="20"
          width="20"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 50 50"
          width="50px"
          height="50px"
          fill="currentColor"
        >
          <path d="M 25 0 C 22.546875 0 20.476563 1.355469 17.40625 2.9375 C 14.335938 4.519531 10.214844 6.429688 3.78125 7.84375 L 3 8.03125 L 3 8.8125 C 3 24.132813 8.371094 34.371094 13.75 40.71875 C 19.128906 47.066406 24.59375 49.59375 24.59375 49.59375 L 25.03125 49.8125 L 25.46875 49.59375 C 25.46875 49.59375 47 38.46875 47 8.8125 L 47 8.03125 L 46.21875 7.84375 C 39.785156 6.429688 35.664063 4.519531 32.59375 2.9375 C 29.523438 1.355469 27.453125 0 25 0 Z M 25 2 C 26.644531 2 28.550781 3.105469 31.6875 4.71875 C 34.667969 6.25 38.859375 8.128906 44.9375 9.5625 C 44.570313 36.679688 26.253906 46.851563 24.96875 47.53125 C 24.347656 47.230469 20.019531 45.066406 15.25 39.4375 C 10.222656 33.503906 5.246094 23.960938 5.0625 9.5625 C 11.140625 8.128906 15.332031 6.25 18.3125 4.71875 C 21.449219 3.105469 23.355469 2 25 2 Z M 32.6875 14.625 L 32.15625 15.46875 L 24.03125 28.09375 L 18.65625 23.25 L 17.9375 22.59375 L 16.59375 24.0625 L 17.34375 24.75 L 23.53125 30.375 L 24.40625 31.15625 L 25.0625 30.15625 L 33.84375 16.53125 L 34.375 15.6875 Z"></path>
        </svg>
      </figure>
      <p class="feature-bar__text">THIRD PARTY TESTED</p>
    </li>

    <li class="feature-bar__item">
      <figure class="feature-bar__icon">
        <svg
          height="20"
          width="20"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 50 50"
          width="50px"
          height="50px"
          fill="currentColor"
        >
          <path d="M 10.96875 3 C 10.746094 3.023438 10.535156 3.125 10.375 3.28125 C 10.375 3.28125 3 10.136719 3 18.4375 C 3 22.863281 4.726563 27.210938 9.125 29.9375 C 9.601563 31.90625 9.945313 33.679688 9.6875 35.25 C 9.597656 35.617188 9.722656 36 10.007813 36.246094 C 10.292969 36.492188 10.695313 36.554688 11.042969 36.410156 C 11.390625 36.265625 11.628906 35.9375 11.65625 35.5625 C 12.199219 32.257813 10.878906 29.109375 10.125 25.625 C 9.371094 22.140625 9.078125 18.34375 11.25 13.5625 C 11.402344 13.25 11.382813 12.882813 11.195313 12.589844 C 11.011719 12.300781 10.691406 12.121094 10.34375 12.125 C 9.945313 12.132813 9.585938 12.378906 9.4375 12.75 C 7.0625 17.972656 7.394531 22.351563 8.1875 26.03125 C 8.253906 26.339844 8.335938 26.609375 8.40625 26.90625 C 5.945313 24.648438 5 21.679688 5 18.4375 C 5 12.105469 9.894531 6.78125 11.03125 5.59375 C 12.03125 6.742188 15.15625 10.453125 15.84375 14.625 C 16.3125 17.46875 15.550781 19.882813 14.5625 21.6875 C 14.070313 22.589844 13.523438 23.335938 13.0625 23.875 C 12.601563 24.414063 12.175781 24.804688 12.125 24.84375 C 11.792969 25.039063 11.601563 25.402344 11.632813 25.785156 C 11.660156 26.171875 11.910156 26.5 12.269531 26.640625 C 12.625 26.777344 13.03125 26.699219 13.3125 26.4375 C 13.625 26.203125 14.054688 25.820313 14.59375 25.1875 C 15.132813 24.554688 15.742188 23.699219 16.3125 22.65625 C 17.453125 20.570313 18.367188 17.683594 17.8125 14.3125 C 16.851563 8.476563 11.78125 3.3125 11.78125 3.3125 C 11.574219 3.089844 11.273438 2.976563 10.96875 3 Z M 28.90625 20.0625 C 28.21875 20.0625 27.523438 20.109375 26.8125 20.1875 C 19.246094 21.007813 15.714844 25.230469 14.34375 29.15625 C 12.972656 33.082031 13.5625 36.78125 13.5625 36.78125 C 13.5625 36.792969 13.5625 36.800781 13.5625 36.8125 C 10.496094 40.019531 9.125 42.84375 9.125 42.84375 C 8.914063 43.167969 8.90625 43.585938 9.105469 43.914063 C 9.308594 44.246094 9.683594 44.429688 10.070313 44.386719 C 10.453125 44.34375 10.78125 44.085938 10.90625 43.71875 C 10.90625 43.71875 14.460938 36.398438 23.125 32.3125 C 29.035156 29.523438 36.6875 30.375 36.6875 30.375 C 37.0625 30.472656 37.460938 30.34375 37.707031 30.042969 C 37.953125 29.746094 38.007813 29.332031 37.839844 28.980469 C 37.675781 28.628906 37.324219 28.40625 36.9375 28.40625 C 36.9375 28.40625 34.921875 28.148438 32.09375 28.28125 C 29.265625 28.414063 25.601563 28.933594 22.28125 30.5 C 19.539063 31.792969 17.273438 33.382813 15.4375 35 C 15.410156 33.734375 15.507813 31.84375 16.21875 29.8125 C 17.40625 26.417969 20.101563 22.941406 27.03125 22.1875 C 36.238281 21.1875 43.359375 27.707031 44.71875 29.03125 C 43.746094 30.746094 38.257813 39.722656 28.0625 40.84375 C 22.367188 41.46875 17.375 38.8125 17.375 38.8125 C 17.058594 38.589844 16.644531 38.570313 16.304688 38.757813 C 15.96875 38.949219 15.773438 39.316406 15.800781 39.703125 C 15.828125 40.089844 16.078125 40.421875 16.4375 40.5625 C 16.4375 40.5625 21.859375 43.519531 28.28125 42.8125 C 40.730469 41.441406 46.875 29.28125 46.875 29.28125 C 47.0625 28.910156 47 28.460938 46.71875 28.15625 C 46.71875 28.15625 39.214844 20.058594 28.90625 20.0625 Z"></path>
        </svg>
      </figure>
      <p class="feature-bar__text">CLEAN INGREDIENT</p>
    </li>
  </ul>
</div>

{% stylesheet %}
  .feature-bar {
    overflow: hidden;
    position: relative;
    width: 100%;
    background-color: #121212;
    padding: 2rem 0;
  }

  .feature-bar__list {
    display: flex;
    gap: 4rem;
    animation: feature-scroll 20s linear infinite;
  }

  .feature-bar__item {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .feature-bar__text {
    color: #fff;
    font-size: 16px;
    margin: 0;
  }
  .feature-bar__icon {
    margin: 0;
    display: flex;
  }
  .feature-bar__icon svg {
    color: #fff;
    margin: 0;
    fill: white;
  }

  @keyframes feature-scroll {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
{% endstylesheet %}
